<% if @user.is_doctor? %>
  <p>Doctor ID: <%= user.doctor_id %></p>
  <p><%= link_to 'Add Patient', patients_path, :method => :post %></p>
  <%= form_tag('/patients') do %>
    <%= text_field_tag 'first_name', nil, placeholder: 'first name', required: true %><br>
    <%= text_field_tag 'middle_name', nil, placeholder: 'middle name' %><br>
    <%= text_field_tag 'last_name', nil, placeholder: 'last name' %><br>
    <%= select_tag 'gender', options_for_select(['Male', 'Female', 'Other']) %><br>
    <%= text_field_tag 'date_of_birth', nil, placeholder: 'date of birth' %><br>
    <%= select_date Date.today, start_year: 1910, end_year: Time.now.year %><br>
    <label>Address</label>
    <%= submit_tag 'create new patient' %>
  <% end %>
<% end %>
