<%= form_tag '/patients', :method => method do %>
  <%= text_field_tag 'first_name', patient["first_name"], placeholder: 'first name', required: true %><br>
  <%= text_field_tag 'last_name', patient["last_name"], placeholder: 'last name' %><br>
  <%= select_tag 'gender', options_for_select(['Male', 'Female', 'Other'], patient["gender"]) %><br>
  <label>Date Of Birth</label><br>
  <% dob = @patient["date_of_birth"].blank? ? Date.today : @patient["date_of_birth"] %>
  <% year, month, day = dob.split("-").map(&:to_i) %>
  <%= select_date Date.new(year, month, day), start_year: 1910, end_year: Time.now.year %><br>
  <label>Address</label><br>
  <%= text_field_tag "address", patient["address"], placeholder: "Address" %><br>
  <%= text_field_tag "city", patient["city"], placeholder: "City" %><br>
  <%= select_tag "state", options_for_select(us_states, patient["state"]) %><br>
  <%= text_field_tag "zip_code", patient["zip_code"], placeholder: "Zip Code" %><br>
  <div id="advancedForm" hidden>
    <label>Patient Contact Info</label><br>
    <%= text_field_tag "home_phone", patient["home_phone"], placeholder: "Home" %><br>
    <%= text_field_tag "cell_phone", patient["cell_phone"], placeholder: "Cell" %><br>
    <label>Emergency Contact Info</label><br>
    <%= text_field_tag "emergency_contact_name", patient["emergency_contact_name"], placeholder: "Contact Name" %><br>
    <%= text_field_tag "emergency_contact_phone", patient["emergency_contact_phone"], placeholder: "Contact Phone" %><br>
    <%= text_field_tag "emergency_contact_relation", patient["emergency_contact_relation"], placeholder: "Contact Relation" %><br>
    <label>Employer Info</label><br>
    <%= text_field_tag "employer", patient["employer"], placeholder: "Employer" %><br>
    <%= text_field_tag "employer_address", patient["employer_address"], placeholder: "Address" %><br>
    <%= text_field_tag "employer_city", patient["employer_city"], placeholder: "City" %><br>
    <%= select_tag "employer_state", options_for_select(us_states, patient["employer_state"]) %><br>
    <%= text_field_tag "employer_zip_code", patient["eployer_zip_code"], placeholder: "Zip Code" %><br> 
  </div>
  <button id="advancedFormBtn">Advanced Form</button>
  <button id="basicFormBtn" hidden>Basic Form</button>
  <% if method == :post %>
    <%= submit_tag 'Create New Patient' %>
  <% else %>
    <%= submit_tag "Update Patient Info" %>
  <% end %>
<% end %>
