<%= form_tag('/patients') do %>
  <%= text_field_tag 'first_name', nil, placeholder: 'first name', required: true %><br>
  <%= text_field_tag 'last_name', nil, placeholder: 'last name' %><br>
  <%= select_tag 'gender', options_for_select(['Male', 'Female', 'Other']) %><br>
  <label>Date Of Birth</label><br>
  <%= select_date Date.today, start_year: 1910, end_year: Time.now.year %><br>
  <label>Address</label><br>
  <%= text_field_tag "address", nil, placeholder: "Address" %><br>
  <div id="advancedForm" hidden>
    <label>Emergency Contact Info</label><br>
    <%= text_field_tag "emergency_contact_name", nil, placeholder: "Contact Name" %><br>
    <%= text_field_tag "emergency_contact_phone", nil, placeholder: "Contact Phone" %><br>
    <%= text_field_tag "emergency_contact_relation", nil, placeholder: "Contact Relation" %><br>
  </div>
  <button id="advancedFormBtn">Advanced Form</button>
  <button id="basicFormBtn" hidden>Basic Form</button>
  <%= submit_tag 'create new patient' %>
<% end %>

<table>
  <th>Avatar</th>
  <th>Chart ID</th>
  <th>Name</th>
  <th>D.O.B.</th>
  <th>Gender</th>
  <th>Last Appt.</th>
  <th>Next Appt.</th>
  <% @patients.each do |patient| %>
    <%= render partial: 'patient', locals: {patient: patient} %>
  <% end %>
</table>
