<a href="#newPatient" data-toggle="modal" class="active">New Patient &#43;</a>

<table>
  <tr>
    <th>Avatar</th>
    <th>Chart ID</th>
    <th>Name</th>
    <th>Last Appt.</th>
  </tr>
  <% @patients.each do |patient| %>
    <%= render partial: 'patient', locals: {patient: patient} %>
  <% end %>
</table>


<% patient = {} %>

<div class="modal fade" id="newPatient" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4>New Patient</h4>
      </div>
      <div class="modal-body">
        <%= form_tag "/patients/upload_photo", :id => "photoForm", multipart: true do %>
          <div class="form-group">
            <%= hidden_field_tag "patient_id_photo", patient["id"] %>
            <%= hidden_field_tag "gender_photo", patient["gender"] %>
            <%= hidden_field_tag "dob_photo", patient["date_of_birth"] %>
            <%= file_field_tag 'patient_photo' %>
          </div>
        <% end %>
        <%= form_tag "/patients/#{patient["id"]}", id: "patientForm", class: "col-sm-12", :method => :post do %>
          <div class="form-group">
            <%= text_field_tag "first_name", patient["first_name"], placeholder: "first name", class: "control", required: true %>
          </div>
          <div class="form-group">
            <%= text_field_tag "last_name", patient["last_name"], placeholder: "last name", class: "control", required: true %>
          </div>
          <div class="form-group">
            <%= select_tag "gender", options_for_select(["Male", "Female", "Other"], patient["gender"]), class: "control" %>
          </div>
          <div class="form-group">
            <% if patient["date_of_birth"].blank? %>
              <% # subtract 30 years %>
              <% date = Date.today %>
            <% else %>
              <% year, month, day = patient["date_of_birth"].split("-").map(&:to_i) %>
              <% date = Date.new(year, month, day) %>
            <% end %>
            <%= select_date date, start_year: 1910, end_year: Time.now.year, class: "control" %>
          </div> 
          <div class="form-group">
            <%= text_field_tag "address", patient["address"], class: "control", placeholder: "Address" %>
            <%= text_field_tag "city", patient["city"], class: "control", placeholder: "City" %>
            <%= select_tag "state", options_for_select(us_states, patient["state"]), class: "control" %>
            <%= number_field_tag "copay", patient["copay"], class: "control", placeholder: "Copay" %>
            <%= text_field_tag "zip_code", patient["zip_code"], class: "control", placeholder: "Zip Code", required: true %>
          </div>
          <div class="form-group">
            <%= submit_tag "Create New Patient" %>
          <% end %>
        </div>
        <div class="modal-footer">
          <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
        </div>
      </div>
    </div>
  </div>
</div>




