<div class="row ta-c">
  <img src="<%= photo_url_from(@patient["patient_photo"]) %>" class="img-rounded avatar"/>
</div>

<div class="row ta-c">
  <h3><%= @patient["first_name"] %> <%= @patient["last_name"] %></h3>
</div>



<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#info" aria-controls="info" role="tab" data-toggle="tab">Patient Info</a></li>
      <li role="presentation"><a href="#appointments" aria-controls="appointments" role="tab" data-toggle="tab">Appointments</a></li>
    </ul>
  </div>
</div>

<div class="tab-content">
  <br />
  <div role="tabpanel" class="tab-pane active" id="info">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 ta-c">
        <a href="#newPhoto" data-toggle="modal" class="btn btn-default">New Photo &#128247;</a>
        <a href="#updatePatient" data-toggle="modal" class="btn btn-default">Edit Patient &#9998;</a>
      </div>
    </div>
    <br />

    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <ul class="list-group">
          <li class="list-group-item"><strong>Date of Birth</strong> <span class="text-muted"><%= @patient["date_of_birth"] %></span></li>
          <li class="list-group-item"><strong>Gender</strong> <span class="text-muted"><%= @patient["gender"] %></span></li>
          <li class="list-group-item"><strong>Doctor</strong> <span class="text-muted"><%= @patient["doctor"] %></span></li>
          <li class="list-group-item"><strong>Home</strong> <span class="text-muted"><%= @patient["home_phone"] %></span></li>
          <li class="list-group-item"><strong>Cell</strong> <span class="text-muted"><%= @patient["cell_phone"] %></span></li>
          <li class="list-group-item"><strong>Address</strong> <span class="text-muted"><%= @patient["address"] %></span></li>
          <li class="list-group-item"><strong>City</strong> <span class="text-muted"><%= @patient["city"] %></span></li>
          <li class="list-group-item"><strong>State</strong> <span class="text-muted"><%= @patient["state"] %></span></li>
          <li class="list-group-item"><strong>Copay</strong> <span class="text-muted">$<%= @patient["copay"] %></span></li>
          <li class="list-group-item"><strong>Emergency Contact</strong> <span class="text-muted"><%= @patient["emergency_contact_name"] %></span></li>
          <li class="list-group-item"><strong>Emergency Contact Phone</strong> <span class="text-muted"><%= @patient["emergency_contact_phone"] %></span></li>
          <li class="list-group-item"><strong>Emergency Contact Relation</strong> <span class="text-muted"><%= @patient["emergency_contact_relation"] %></span></li>
          <li class="list-group-item"><strong>Employer</strong> <span class="text-muted"><%= @patient["employer"] %></span></li>
          <li class="list-group-item"><strong>Employer Address</strong> <span class="text-muted"><%= @patient["employer_address"] %></span></li>
          <li class="list-group-item"><strong>Employer City</strong> <span class="text-muted"><%= @patient["employer_city"] %></span></li>
          <li class="list-group-item"><strong>Employer State</strong> <span class="text-muted"><%= @patient["employer_state"] %></span></li>
          <li class="list-group-item"><strong>Employer Zip Code</strong> <span class="text-muted"><%= @patient["employer_zip_code"] %></span></li>
        </ul>
      </div>
    </div>
  </div>


  <div role="tabpanel" class="tab-pane" id="appointments">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 ta-c">
        <a href="#newAppt" data-toggle="modal" class="btn btn-default">Schedule Appt &#128197;</a>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <% unless @patient["appointments"].blank? %>
          <ul class="list-group">
            <% @patient["appointments"].each do |appointment| %>
              <% date = pst_format(appointment["scheduled_time"]).split(" ") %>
              <% day = date.pop.gsub(/\d{4}-/,"") %>
              <% time = date.join(" ") %> 
              <li class="list-group-item">
                <a href="<%= appointment_path(appointment["id"]) %>">
                  <strong><%= "#{time} #{day}" %></strong> <span class="text-muted"><%= appointment["reason"] %></span>
                </a>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>



<!-- photo modal -->
<div class="modal fade" id="newPhoto" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Patient Photo</h4>
      </div>
      <div class="modal-body">
        <%= render partial: "photo_form", locals: {patient: @patient} %>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
      </div>
    </div>
  </div>
</div>

<!-- patient modal -->
<div class="modal fade" id="updatePatient" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Edit Patient Form</h4>
      </div>
      <div class="modal-body">
        <%= render partial: "patient_form", locals: {patient: @patient, method: :patch} %>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-default" id="advancedFormBtn">Advanced Form</a>
        <a href="#" class="btn btn-default" id="basicFormBtn" style="display: none;">Basic Form</a>
        <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
      </div>
    </div>
  </div>
</div>

<!-- appointment modal -->
<div class="modal fade" id="newAppt" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Schedule Appointment</h4>
      </div>
      <div class="modal-body">
        <%= render partial: "appointments/appointment_form",
          locals: {appointment: {}, method: :post, patient: @patient, offices: @office_data, names: nil} %>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
      </div>
    </div>
  </div>
</div>
