<h1><%= @patient["first_name"] %> <%= @patient["last_name"] %></h1>
<img src="<%= @patient["patient_photo"] %>" class="avatar"/>
<h3>Patient Profile</h3>

<ul>
  <li>Date of Birth: <%= @patient["date_of_birth"] %></li>
  <li>Gender: <%= @patient["gender"] %></li>
  <li>Doctor: <%= @patient["doctor"] %></li>
  <li>Home: <%= @patient["home_phone"] %></li>
  <li>Cell: <%= @patient["cell_phone"] %></li>
  <li>Address: <%= @patient["address"] %></li>
  <li>City: <%= @patient["city"] %></li>
  <li>State: <%= @patient["state"] %></li>
  <li>Copay: $<%= @patient["copay"] %></li>
  <li>Emergency Contact: <%= @patient["emergency_contact_name"] %></li>
  <li>Emergency Contact Phone: <%= @patient["emergency_contact_phone"] %></li>
  <li>Emergency Contact Relation: <%= @patient["emergency_contact_relation"] %></li>
  <li>Employer: <%= @patient["employer"] %></li>
  <li>Employer Address: <%= @patient["employer_address"] %></li>
  <li>Employer City: <%= @patient["employer_city"] %></li>
  <li>Employer State: <%= @patient["employer_state"] %></li>
  <li>Employer Zip Code <%= @patient["employer_zip_code"] %></li>
</ul>

<a href="#newPhoto" data-toggle="modal" class="btn btn-default">New Photo &#128247;</a>
<a href="#updatePatient" data-toggle="modal" class="btn btn-default">Edit Patient &#9998;</a>


<h3>Appointments</h3>
<a href="#newAppt" data-toggle="modal" class="btn btn-default">Schedule Appt &#128197;</a>
<% unless @patient["appointments"].blank? %>
  <table>
    <% @patient["appointments"].each do |appointment| %>
      <tr>
        <th>Reason</th>
        <th>When</th>
        <th>Duration</th>
        <th>Office</th>
        <th>Room</th>
      </tr>
      <tr><%= render partial: "appointments/appointment", locals: {appointment: appointment, patient: @patient} %></tr>
    <% end %>
  </table>
<% end %>



<!-- photo modal -->
<div class="modal fade" id="newPhoto" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Patient Photo</h4>
      </div>
      <div class="modal-body">
        <%= render partial: "photo_form", locals: {patient: @patient} %>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-primary" data-dismiss="modal">Close</a>
      </div>
    </div>
  </div>
</div>

<!-- patient modal -->
<div class="modal fade" id="updatePatient" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Edit Patient Form</h4>
      </div>
      <div class="modal-body">
        <%= render partial: "patient_form", locals: {patient: @patient, method: :patch} %>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-default" id="advancedFormBtn">Advanced Form</a>
        <a href="#" class="btn btn-default" id="basicFormBtn" style="display: none;">Basic Form</a>
        <a href="#" class="btn btn-primary" data-dismiss="modal">Close</a>
      </div>
    </div>
  </div>
</div>

<!-- appointment modal -->
<div class="modal fade" id="newAppt" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Schedule Appointment</h4>
      </div>
      <div class="modal-body">
        <%= render partial: "appointments/appointment_form",
          locals: {patient: @patient, offices: @office_data, names: nil} %>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-primary" data-dismiss="modal">Close</a>
      </div>
    </div>
  </div>
</div>
