<td><a href="<%= appointment_path(appointment['id']) %>?patient_id=<%= patient["id"] %>">
    <%= appointment["reason"] %></a></td>
<td><%= pst_format(appointment["scheduled_time"]) %></td>
<td><%= appointment["duration"] %></td>
<td><%= link_to "Cancel", appointment_path(appointment["id"]), :method => :delete %></td>
