<%= form_tag "/appointments/#{appointment['id']}", id: "newAppointment", :method => method do %>
  <% if patient %>
    <%= hidden_field_tag "patient_id", appointment["patient_id"], value: patient["id"] %>
  <% elsif names %>
    <fieldset class="form-group">
      <label for="patient">Patient</label>
      <%= select_tag "patient", options_for_select(names), class: "form-control" %>
    </fieldset>
  <% end %>
  <fieldset class="form-group">
    <label for="date">Day</label>
    <% date = appointment.blank? ? Time.now : appointment["scheduled_time"].to_date %>
    <%= select_date date, order: [:month, :day], class: "form-control" %>
  </fieldset>
  <fieldset class="form-group">
    <label for="hour">Time</label>
    <%= select_tag "hour", options_for_select((1..12).to_a), class: "form-control-inline" %>
    <%= select_tag "minute", options_for_select(["00","15","30","45"]), class: "form-control-inline" %>
    <%= select_tag "am_pm", options_for_select(["AM","PM"]), class: "form-control-inline" %>
  </fieldset>
  <fieldset class="form-group">
    <label for="duration">Duration <small class="text-muted">(minutes)</small></label>
    <%= select_tag "duration", 
      options_for_select([15, 20, 25, 30, 35, 40, 45, 50, 55, 60], appointment["duration"]), class: "form-control" %>
  </fieldset>
  <fieldset class="form-group">
    <label for="office">Office</label>
    <%= select_tag "office", 
      options_for_select(offices["office_names"], appointment["office"]), class: "form-control" %>
  </fieldset>
  <fieldset class="form-group">
    <label for="exam_room">Exam Room</label>
    <%= select_tag "exam_room", 
      options_for_select(offices["exam_rooms"], appointment["exam_rooms"]), class: "form-control" %>
  </fieldset>
  <fieldset class="form-group">
    <label for="reason">Reason</label>
    <%= text_area_tag "reason", appointment["reason"], placeholder: "i.e., Swine Flu!!!! Ahhhh!!!", class: "form-control" %>
  </fieldset>
  <fieldset class="form-group">
    <% prompt = method == :post ? "Schedule" : "Update" %>
    <%= submit_tag prompt, class: "btn btn-primary" %>
  </fieldset>
<% end %>
