<% patient_names = @patients.map {|patient| "#{patient['first_name']} #{patient['last_name']}"} %>

<%= form_tag "/appointments", id: "newAppointment" do %>
  <%= hidden_field_tag "patient_id", nil, value: params["patient_id"] %>
  <%= select_tag "patient", options_for_select(patient_names) %>
  <%= select_date Time.now, order: [:month, :day] %>
  <div id="timeSelect">
    <%= select_tag "hour", options_for_select((1..12).to_a) %>
    <%= select_tag "minute", options_for_select(["00","15","30","45"]) %>
    <%= select_tag "am_pm", options_for_select(["AM","PM"]) %>
  </div>
  <%= number_field_tag "duration", nil, placeholder: "duration" %>
  <%= select_tag "office", options_for_select(@office_names) %>
  <%= select_tag "exam_room", options_for_select(@exam_rooms) %>
  <%= text_area_tag "reason", nil, placeholder: "Reason" %>
  <%= submit_tag "Schedule" %>
<% end %>

<table>
  <% @appointments.each do |appointment| %>
    <tr>
      <th>Patient</th>
      <th>Office</th>
      <th>Room</th>
      <th>Reason</th>
      <th>When</th>
      <th>Duration</th>
    <tr>
    <tr><%= render partial: 'appointment', locals: {appointment: appointment} %></tr>
  <% end %>
</table>
