<%= form_tag "/appointments", id: "newAppointment" do %>
  <%= hidden_field_tag "patient_id", nil, value: params["patient_id"] %>
  <%= select_date Time.now, order: [:month, :day] %>
  <div id="timeSelect">
    <%= time_select "time", formatted_time %>
    <%= select_tag "am_pm", options_for_select(["AM","PM"]) %>
  </div>
  <%= number_field_tag "duration", nil, placeholder: "duration" %>
  <%= select_tag "office", options_for_select(@office_names) %>
  <%= select_tag "exam_room", options_for_select(@exam_rooms) %>
  <%= text_area_tag "reason", nil, placeholder: "Reason" %>
  <%= submit_tag "Schedule" %>
<% end %>
