<% date = @appointment["scheduled_time"].match(/\d{4}-\d{2}-\d{2}/)[0] %>
<% time = pst_format(@appointment["scheduled_time"]).gsub(/\d{4}.+/, "") %>

<div class="page-header ta-c">
  <h3>
    <%= link_to "#{@patient['first_name']} #{@patient['last_name']}", patient_path(@patient["id"]) %>
    <small><%= date %> at <%= time %></small>
  </h3>
</div>

<div class="row ta-c">
  <img class="avatar img-rounded" src="<%= photo_url_from(@patient['patient_photo']) %>" />
  <hr />
</div>

<div class="row">
  <ul class="list-group col-sm-5 col-sm-offset-1">
    <li class="list-group-item"><strong>Copay</strong>
      <span class="muted"><%= @patient["copay"] %></span></li>
    <li class="list-group-item"><strong>Cell Phone</strong>
      <span class="muted"><%= @patient["cell_phone"] %></span></li>
    <li class="list-group-item"><strong>Emergency Contact</strong>
      <span class="muted"><%= @patient["emergency_contact_phone"] %></span></li>
    <li class="list-group-item"><strong>City</strong>
      <span class="muted"><%= @patient["city"] %></span></li>
    <li class="list-group-item"><strong>State</strong>
      <span class="muted"><%= @patient["state"] %></span></li>
  </ul>
  <ul class="list-group col-sm-5">
    <li class="list-group-item"><strong>Date</strong>
      <span class="muted"><%= date %></span></li>
    <li class="list-group-item"><strong>Time</strong> 
      <span class="muted"><%= time %></span></li>
    <li class="list-group-item"><strong>For</strong>
      <span class="muted"><%= @appointment["duration"] %> minutes</span></li>
    <li class="list-group-item"><strong>Office</strong>
      <span class="muted"><%= @appointment["office"] %></span></li>
    <li class="list-group-item"><strong>Exam Room</strong>
      <span class="muted"><%= @appointment["exam_room"] %></span></li>
    <li class="list-group-item"><strong>Reason</strong>
      <span class="muted"><%= @appointment["reason"] %></span></li>
  </ul>
</div>

<div class="row ta-c">
  <a href="#editAppt" data-toggle="modal" class="btn btn-default">Edit Appointment &#128197;</a>
  <%= link_to "Cancel Appointment", appointment_path(@appointment["id"]), class: "btn btn-danger", :method => :delete %>
</div>


<!-- appointment modal -->
<div class="modal fade" id="editAppt" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Edit Appointment</h4>
      </div>
      <div class="modal-body">
        <%= render partial: "appointments/appointment_form",
          locals: {appointment: @appointment, patient: @patient, offices: @office_data, names: nil, method: :patch} %>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
      </div>
    </div>
  </div>
</div>
