<div class="page-header ta-c">
  <h3>
    <%= @patient["first_name"] %> <%= @patient["last_name"] %> <small><%= @appointment["reason"] %></small>
  </h3>
</div>

<div class="row">
  <ul class="list-group col-sm-5 col-sm-offset-1">
    <% date = @appointment["scheduled_time"].match(/\d{4}-\d{2}-\d{2}/)[0] %>
    <% time = pst_format(@appointment["scheduled_time"]).gsub(/\d{4}.+/, "") %>
    <li class="list-group-item"><strong>Date</strong>
      <span class="muted"><%= date %></span></li>
    <li class="list-group-item"><strong>Time</strong> 
      <span class="muted"><%= time %></span></li>
    <li class="list-group-item"><strong>For</strong>
      <span class="muted"><%= @appointment["duration"] %> minutes</span></li>
    <li class="list-group-item"><strong>Office</strong>
      <span class="muted"><%= @appointment["office"] %></span></li>
    <li class="list-group-item"><strong>Exam Room</strong>
      <span class="muted"><%= @appointment["exam_room"] %></span></li>
  </ul>
  <ul class="list-group col-sm-5">
    <li class="list-group-item"><img src="<%= @patient["patient_photo"] %>" class="avatar img-rounded" /></li>
  </ul>
</div>
