<!DOCTYPE html>
<html>
<head>
  <title>DrChronoApi</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <ul>
    <li><%= link_to 'Home', root_path %></li>
    <% if current_user %>
      <li><%= link_to 'Sign Out', signout_path, :method => :delete %></li>
    <% else %>
      <li><%= link_to 'Sign In With Drchrono', authenticate_path %></li>
    <% end %>
  </ul>

  <%= yield %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
