<!DOCTYPE html>
<html>
<head>
  <title>DrChronoApi</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <ul>
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'Sign In With Drchrono', authenticate_path %></li>
  </ul>

<%= yield %>

</body>
</html>
